:root {
    --main-black: #212121;
    --second-black: #000000;
    --main-blue: #2196f3;
    --background-grey: #2f303a;
    --main-white: #ffffff;
    --second-white: #f5f4fa;
    --main-grey: #757575;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
.title {
    color: var(--IRIS, #4d5ae5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.highlight {
    color: var(--NAVY-BLUE, #2e2f42);
}
.list {
    list-style: none;
}
.address {
    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
}
.studio {
    color: var(--NAVY-BLUE, #2e2f42);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
.main {
    flex-shrink: 0;
    background: var(--NAVY-BLUE, #2e2f42);
}
.main-text {
    color: var(--WHITE, #fff);
    text-align: center;
    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}
.button {
    font-family: "Roboto", sans-serif;
    color: var(--WHITE, #fff);
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    cursor: pointer;
}
.primary {
    color: var(--NAVY-BLUE, #2e2f42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.primary-text {
    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.secondary {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.secondary-item {
    background: var(--CLOUD, #f4f4fd);
}
.end {
    flex-shrink: 0;
    background: var(--NAVY-BLUE, #2e2f42);
}
.end-text {
    color: var(--CLOUD, #f4f4fd);
    /* Body */
    font-family: Ral;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
.highlight-end {
    color: var(--CLOUD, #f4f4fd);
}
